<h2><%= @task.title %></h2>
<p><%= @task.details %></p>

<%= link_to "Retournez vers la liste des tâches", tasks_path %>
<%= link_to "MAJ de la tâche", edit_task_path %>
<%= link_to "Delete",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
